.userCard {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  background-position: center;
  background-size: cover;
  box-shadow: 0px 18px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  height: 100%;
  max-width: 85vh;
  padding: 20px;
  position: relative;
  width: 40vh;
}

/* .test {
  border: 1px solid black;
} */

.userFlexItem {
  display: flex;
}
.userCard__statButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userCard > h3 {
  position: aboslute;
  bottom: 10px;
  /* color: white; */
}
.userCard__searchList {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.userCard__container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.userProfile_container {
  position: absolute;
}

.userForm__container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.userForm {
  background-position: center;
  background-size: cover;
  box-shadow: 0px 18px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  height: 50vh;
  max-width: 85vh;
  padding: 20px;
  position: relative;
  width: 600px
}