.userCard {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row;
  flex-wrap: wrap; */
  background-position: center;
  background-size: cover;
  box-shadow: 0px 18px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  height: 100%;
  max-width: 85vh;
  padding: 20px;
  position: relative;
  width: 55vh;
}

/* .test {
  border: 1px solid black;
} */

.userFlexItem {
  display: flex;
}
.userCard__statButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userCard > h3 {
  position: aboslute;
  bottom: 10px;
  /* color: white; */
}
.userCard__searchList {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.userCard__container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.userProfile_container {
  position: absolute;
}

.userForm__container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.userUpload__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.userProfile_avatar {
  width: 20vh;
  height: 20vh;
  border-radius: 75px;
  padding-bottom: 1vh;
}

.userForm {
  /* border: 2px solid black; */
  background-position: center;
  background-size: cover;
  box-shadow: 0px 18px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  height: 50vh;
  max-width: 85vh;
  padding: 20px;
  position: relative;
  width: 60vh
}

.userForm-group {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  width: 20vh;
  justify-content: center;
}
.userForm-group2 {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  width: 30vh;
  justify-content: center;
}
.uploadButton {
  padding: 1vh;
  width: 20vh;
}
.userFormFlex {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}