.houseCard {
  background-position: center;
  background-size: cover;
  box-shadow: 0px 18px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 20px;
  height: 50vh;
  max-width: 85vh;
  padding: 20px;
  position: relative;
  width: 600px
}

.houseCard > h3 {
  position: aboslute;
  bottom: 10px;
  color: white;
}

.houseCards__container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}